{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="{% static 'CSS/UserManagement.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>User management</title>
    <script src="{% static 'JAVASCRIPT/ForumSelect.js' %}"></script>
    <style>
      .user_botton{
        background-image: url('{{admin.picture.url}}') ;
      }
    </style>

  </head>
  <body>
    <nav>
      <div class="Menu">
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="forum-management.html"><button class="forums_button">Forums</button></a>
        <a href="UserManagement.html"><button class="Users_button">Users</button></a>
        <button class="user_botton" onclick="Menu()"></button>
      </div>
      <div id="Profile_Select" style="height: 200px;">
        <a class="Profile_Option" href="{% url 'WebIStudy:ChangeAdminPassword' admin.user_name %}">Change Password</a>
        <a class="Profile_Option" href="{% url 'WebIStudy:ManageForums' %}">Add Forums</a>
        <a class="Profile_Option" href="{% url 'WebIStudy:DeletePage' %}">Delete Forums</a>
        <a class="Profile_Option" href="{% url 'WebIStudy:UsersManage' admin.user_name %}">Manage Users</a>
        <a class="Profile_Option" href="{% url 'WebIStudy:AddPassword' admin.user_name %}">Add Forum Password</a>
        <a class="Profile_Option" href="{% url 'WebIStudy:Login' %}">Logout</a>
    </div>
    </nav>
    <section>
      <div class="Search">
        <h1>User management page</h1>
        <input class="input" type="text" name="searchbar" id="searchbar" placeholder="&#128270; Search Forum"  />
      </div>
    </section>
    <form action="{% url 'WebIStudy:passwordAdded' admin.user_name %}" method="post" class="container">
      {% csrf_token %} 

      {% for i in forum%}
      <div class="UserProf">
        <input type="checkbox" value="{{i.Forum_name}}" name="item">
        <img src="{{i.picture.url}}" class="userImage" alt="">
        <p>{{i.Forum_name}}</p>

        {% if i.password  == none %}
            <p>No Password</p>
        
        {% else %}
            <p>{{i.password}}</p>
        {% endif %}
        <p><input type="password" name="pass" id="" placeholder="Type password" > </p>
      </div>

      {% endfor %}
          <button class="inpu" style="margin-top: 30px;">Submit</button>
      </div>

    </form>
  </body>
</html>
