{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="{% static 'CSS/UserManagement.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Add Forum Password</title>
    <script src="{% static 'JAVASCRIPT/ForumSelect.js' %}"></script>
    <style>
      .user_botton{
        background-image: url('{{admin.picture.url}}') ;
      }
    </style>

  </head>
  <body>
    <nav>
      <div class="Menu">
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="{% url 'WebIStudy:BacktoManage' admin.user_name %}"><button class="forums_button">Back to Forums</button></a>
        <button class="user_botton" onclick="Menu()"></button>
      </div>

    </nav>
    <section>
      <div class="Search">
        <h1>Forum password management page</h1>

      </div>
    </section><br><br>
    <form action="{% url 'WebIStudy:passwordAdded' admin.user_name %}" method="post" class="container">
      {% csrf_token %} 

      {% for i in forum%}
      <div class="UserProf">
        <input type="checkbox" value="{{i.Forum_name}}" name="item">
        <img src="{{i.picture.url}}" class="userImage" alt="">
        <p>{{i.Forum_name}}</p>

        {% if i.password  == none %}
            <p>No Password</p>
        
        {% else %}
            <p>{{i.password}}</p>
        {% endif %}
        <p><input type="password" name="pass" id="" placeholder="Type password" > </p>
      </div>

      {% endfor %}
          <button class="inpu" style="margin-top: 30px;">Submit</button>
      </div>

      <p style="border-left: none; color:red; margin-left:25px;">
          {{error}}
      </p>
    </form>
    <script src="{% static '/JAVASCRIPT/UserManagement.js' %}"></script>
  </body>
</html>
