{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/ChangePassword.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>IStudy-Change Password</title>


</head>
<body>
    <nav>
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="Istudy logo" id="Logo">
        <a href="{% url 'WebIStudy:Login' %}">Logout</a>
    </nav>

    <main>
        <div id="Left" style="margin-top: 90px;">
            <img src="{% static 'Pictures/study_space_desk.png.webp' %}" alt="study cartoon" id="CartoonImage" style="    background-size: cover;max-height: 60%;max-width: 30%;">
        </div>

        <form action="{% url 'WebIStudy:ChangedAdminPassword' user.user_name %}" method="post">
            {% csrf_token %} 
            <section id="middle">
                <p>Change Password</p>
                <div id="password_conteiner" style="height: 88%;">
                    <input type="password" name="password" id="password" class="password" placeholder="Enter Password">
                    <input type="password" name="passwordconf" id="passwordconf" class="password" placeholder="Enter Password Confirm">
                </div>
            </section>

            <section id="Right">
                <aside id="buttons">
                    <button>Save Changes</button>
                    <div id="Link">
                        <a href="{% url 'WebIStudy:Forums' user.user_name %}">Back</a>
                    </div>
                </aside>
            </section>
        </form>
    </main>
</body>
</html>