{% load static %}
{% load socialaccount %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iStudy - HomePage</title>
		<link rel="stylesheet" href="{% static 'CSS/HomePage.css' %}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="678154098238-b6q0hdk8mmcdg1v1vohr7jf4sslj6vdt.apps.googleusercontent.com">
    </head>

    <body>
        <main>
            <div class="Login">

            
                <form action="{% url 'WebIStudy:Log' %}" class="log_form" id="log_form" method="post">
                    {% csrf_token %} 
                    <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logo" class="Logo">
                    
                    <div class="Login_form">
                        
                        <p class="login_lorem">Login to Your Account</p>
                        
                        <input type="text" placeholder="Username" class="username" id="username" name="username">
                        <input type="password" placeholder="Password" class="password" id="password" name="password">
                    
                        <select name="Auth" id="Auth">
                            <option value="">Select Auth</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>

                        </select>
                           <div class="google" style="margin-left: 170px;margin-top: 90px; position: absolute;">
                              

                                {% if user.is_authenticated %}
                                <a  href="{% url 'WebIStudy:Forums' user.username %}"  style="border-radius:10px; position: absolute; margin-top: 50px; margin-left: -200px; cursor: pointer; background-color: aquamarine; height: 30px; width: 300px; text-decoration: none;">Welcome, You are logged in as {{ user.username }}</a>
                                {% else %}

                                <a href="{% provider_login_url 'google' %}" class="googlebu" style="text-decoration:none; position: absolute; font-size: 30px; margin-top: -10px; background-color: aquamarine; border-radius: 50%; width: 40px; height: 40px; color: black;">G</a>
                                {% endif %}
                           </div>
                            <button class="Sign_in_Button" >Sign in</button>

                    
                    </div>

                </form>
            </div>


            <div  class="Register"> 
                <div class="Register_content" id="Register_content">
                    
                    <h1>New Here?</h1>
                    
                    <p class="Register_Lorem">Sign up and discover a great way to connect with students</p>
                    
                    <a id="sign_up" href="{% url 'WebIStudy:Signup' %}" >Sign Up</a>
                
                </div>              
                <img src="{% static 'Pictures/books.JPG' %}" alt="books with people" class="books" id="books">
            </div>

        </main>

    </body>
</html>
