{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial_scale=1.0">
    <title>Manage Forums</title> 
    <link rel="stylesheet" href="{% static 'CSS/forum-management.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">


    <style>
      .user_botton{
        background-image: url('{{user.picture.url}}') ;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="Menu">
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="{% url 'WebIStudy:BacktoManage' user.user_name %}"><button class="forums_button">Back to Forums</button></a>
        
        <button class="user_botton" onclick="Menu()"></button>
      </div>

    </nav>
    <section>
      <div class="Search">
        <h1>Forum management page</h1>
        <input class="input" type="text" name="searchbar" id="searchbar" placeholder="&#128270; Search Forum"  />
      </div>
    </section>
    <main>
      <div style="margin: 0px; margin-left: 300px;" id="outform">

      <div class="Display" style="align-content:flex-start; width: 80%;">
        
              {% for i in forum%}
                 <div class="Forum">
                     <img src="{{i.picture.url}}" alt="{{i.picture}}" class="forum_image">
                     
                     <a>{{i.Forum_name}}</a>
                     <p>
                         {{i.Description}}
                     </p>
                 </div>
              {% endfor %}


				<div class="Forum" id="lastForum">
          <div id="addForum">
						<button id="plus" type="button" style="background-color:#8ecae6;width:100px;height:100px;font-size:50px;border-radius:50px;position:relative;top:50%;left:35%;cursor:pointer; border-style: none;" name="">+</button>
            <label style="text-align:center;font-size:30px;position:absolute;bottom:70px;color:#DC143C">add new forum</label>
          </div>
          
          <div class="fillForum display">

           
                <form action="{% url 'WebIStudy:AddForums' %}" method="post" id="innerform">
                  {% csrf_token %}
                <input type="text" name="forumname" placeholder="Forum name" id="forumname" style="margin-left: 100px; height: 30px; padding-left: 10px; margin-top:-40px; width:140px;" form="innerform">
                <input type="file" id="myFile" name="myFile" style="margin-left: 100px; width: 95px; margin-top: -10px; position: absolute;" form="innerform">
                <input type="submit" name="submit" id="submitBut" form="innerform" style="margin-left: -100px; background-color: #8ecae6; border-style: none; border-radius: 10px; width: 120px; cursor: pointer; height: 30px;margin-top: 50px;" form="innerform" >
              </form>
          </div>
        </div>
				 
        <div style="width:300px;height:50px;font-size:20px;cursor:pointer;border-radius:20px;margin:250px;margin-top: 40px;">
					<button id="delForum" type="button" style="background-color:bisque;width:300px;height:50px;font-size:20px;cursor:pointer;border-radius:20px;margin:250px;margin-top: 40px; display: none;" name="">delete chosen forums</button>
				</div>
        
        <div class="delConf invisible">
          <label id="labelConf" for="">Are you sure you want to delete the selected forum/s?</label>
          <button id="butYes" name="butYes" >Yes</button>
          <button id="butNo" name="butNo">No</button>
        </div>
      
      </div>
    </div>
    </main>
      <script src="{% static 'JAVASCRIPT/forum-management.js' %}"></script>
    </body>
</html>
