{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
		<link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
    </head>

    <body>
        <main>
            <div class="Login">
                <form action="{url 'WebIStudy:Register'}" method="POST" class="Register_Form" id="Register_Form">
                    {% csrf_token %} 
                    <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logo" class="Logo">
                    
                    <div class="Reg_form">
                        
                        <p class="reg_lorem">Sign up and start connect with students</p>
                        
                        <input type="text" placeholder="Username" class="reg_username" name="reg_username" id="reg_username">
                        {% if obj1 == "User already exist!" %}
                        <p class="user_exist">
                            User already exist!
                        </p>
                        {% endif %}
                        <input type="password" placeholder="Password" class="reg_password" name="reg_password" id="reg_password">
                        {% if obj1 == "Password not match!" %}
                        <p class="password_exist">
                            Password not match!
                        </p>
                        {% endif %}
                        <input type="password" placeholder="Password Confirm" class="reg_password_conf" name="reg_password_conf" id="reg_password_conf">
                        <input type="email" placeholder="Email" class="reg_email" name="reg_email" id="reg_email">

                        <label for="agree"> Agree to terms of use</label>
                        <input type="checkbox" name="agree" id="agree">
                    
                        <button class="Sign_up_Button">Sign Up</button>
                    
                    </div>
                
                </form>

                <nav>
                    <a href="">About</a>
                    <a href="">Contact</a>
                </nav>
            </div>
            
            
            <div  class="Register"> 

                <div class="Log_content" id="Log_content">
                    
                    <h1 id="header">Have Account?</h1>
                    
                    <p class="Register_Lorem">Sign in and start connect with students around the country</p>
                    
                    <a id="sign_up" href="{% url 'WebIStudy:Login' %}" style="margin-left: 130px;">Sign In</a>

                </div>
                
                <img src="{% static 'Pictures/books.JPG' %}" alt="books with people" class="books" id="books">
            </div>

        </main>

    </body>
</html>