{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="{% static 'CSS/UserManagement.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>User management</title>

    <style>
      .user_botton{
        background-image: url('{{admin.picture.url}}') ;
      }

    </style>

  </head>
  <body>
    <nav>
      <div class="Menu">
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="{% url 'WebIStudy:BacktoManage' admin.user_name %}"><button class="forums_button">Forums</button></a>
        <a href=""><button class="Users_button">Users</button></a>
        <button class="user_botton" onclick="Menu()"></button>
      </div>

    </nav>
    <section>
      <div class="Search">
        <h1>User management page</h1>
        <form action="{% url 'WebIStudy:searchuser' admin.user_name %}" method="post">
          {% csrf_token %} 
          <input class="input" type="text" name="searchbar" id="searchbar" placeholder="&#128270; Search User"  />
          <button  class="inpu"  style="width: 100px; margin-left: 1150px; margin-top: -40px; position: absolute;"> Search </button>
        </form>

      </div>
    </section>
    <form action="{% url 'WebIStudy:UsersManageActions' admin.user_name %}" method="post" class="container">
      {% csrf_token %} 

      {% for i in user%}
      <div class="UserProf">
        <input type="checkbox" class="check" value="{{i.user_name}}" name="item">
        <img src="{{i.picture.url}}" class="userImage" alt="">
        <p>{{i.user_name}}</p>
        <p>{{i.email}}</p>
        <p>{{i.manager}}</p>
        <p>{{i.blocked}}</p>
        <p><label class="contact_Button">Contact &#128221;</label></p>
      </div>

      {% endfor %}

      <div class="options">
          <select name="oper" id="">
            <option value="">Select Operation</option>
            <option value="Block User">Block User</option>
            <option value="Assign as Manager">Assign as Manager</option>
            <option value="Release User">Release User</option>
          </select>

          <select name="manage" id="">
              <option value="Select Forum">Select Forum</option>
            {% for i in forum %}
              <option value="{{i.Forum_name}}">{{i.Forum_name}}</option>
            {% endfor %}
          </select>
          <button class="inpu">Submit</button>
      </div>
    </form>
    <div id="mail" class="invisible">
      <form id="sendMail" action=""
        method="POST"
        enctype="multipart/form-data"
        name="EmailForm">
        <button type="submit" value="Submit" class="compose">Contact selected user &#128221;</button>
      </form>
    </div>
    {% load static %}  
    <script src="{% static '/JAVASCRIPT/UserManagement.js' %}"></script>
  </body>
</html>
