{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'CSS/UserMessagePage.css' %}">
    <title>User Message Page</title>

    <style>
      .user_botton{
        background-image: url('{{user.picture.url}}') ;
      }

      .UserImage
      {
        object-fit: cover;
        margin-left: 30px;
        border-radius: 100%;
        border-style: none;
        background-size: cover;
        height: 70px;
        width: 70px;
      }
    </style>

  </head>
  <body>
    <nav>
      <div class="Menu">
        <a href="{% url 'WebIStudy:Forums' user.user_name %}"><button class="back_to_forum">Back to Forum</button></a>
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="forum-management.html"><button class="forums_button">Messages</button></a>
        <button class="user_botton" onclick="Menu()"></button>
      </div>
      <div id="Profile_Select" class="invisible">
        <a class="Profile_Option" href="updatePersonalInfo.html">Add Info details</a><br>
        <a class="Profile_Option" href="updateAccountInfo.html">Change Account</a><br>
        <a class="Profile_Option" href="">Logout</a>
      </div>
    </nav>

    <div class="container">
      <div  class="entrance2">

        {% for j in Pictures %}
        {% if j.user_name == forumMessage.Author %}
        <div class="First">
          <img src="{{j.picture.url}}" alt="" class="UserImage">
          <label  for="" style="margin-left: 40px;">{{forumMessage.Author}}</label>
        </div>
        {% endif %}
      {% endfor %}
        <div class="MiddleDiv">
          <label  for="">Subject: {{forumMessage.subject}}</label>
          <label  for="">Message: {{forumMessage.message}}</label> 
        </div>

      </div>

      {% for i in comments %}
      <div class="entrance">
        
        {% for j in Pictures %}
        {% if j.user_name == i.Author %}
        <div>
          <img src="{{j.picture.url}}" alt="" class="UserImage">
        </div>
        {% endif %}
      {% endfor %}
      
      <div class="MiddleDiv">
        <label class="subject" for="">Sender: {{i.Author}}</label>
        <label class="sender" for="">Comment: {{i.message}}</label>
      </div>

      </div>
     {% endfor %}


      <button id="addButton" type="button" name="button">Add new comment</button>
      <div class="newMessage display">
        <form class="message_form" action="{% url 'WebIStudy:MessagesCommentsPage' user.user_name forumMessage.Author forumMessage.subject %}" method="post">
          {% csrf_token %} 
          <div class="row">
            <div class="col-25">
              <label for="subject">Messege:</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="name" placeholder="Write something.." style="height:200px"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <button id="post" style="margin-left: 300px;">Post</button>
          </div>
        </form>
      </div>
    </div>

  <script src="{% static 'JAVASCRIPT/UserMessagePage.js' %}"></script>
  </body>
</html>
