{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/AddInformation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>IStudy-Add Personal Information</title>
</head>
<body>
    <nav>
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="Istudy logo" id="Logo">
        <a href="{% url 'WebIStudy:Login' %}">Logout</a>
    </nav>

    <main>
        <div id="Left">
            <img src="{% static 'Pictures/study.png' %}" alt="study cartoon" id="CartoonImage">
        </div>

        <form action="{% url 'WebIStudy:AddDetails' user.user_name %}" method="post" >
            {% csrf_token %} 
            <section id="middle">
                <p>Add Personal Details</p>
                <div id="password_conteiner">
                    <select name="StudyPlace" id="StudyPlace">
                        <option value="se">Select study place</option>
                        <option value="Sami Shamoon">Sami Shamoon</option>
                        <option value="Technion">Technion</option>
                        <option value="Ben Gurion">Ben Gurion</option>
                        <option value="Tel Aviv University">Tel Aviv University</option>
                    </select>


                    <select name="Degree" id="Degree">
                        <option value="se">Select Degree</option>
                        <option value="Software Engineering">Software Engineering</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Industrial Engineering and Management">Industrial Engineering and Management</option>
                    </select>


                    <input type="text" name="year" id="year" class="year" placeholder="Enter Study year">
                </div>
            </section>

            <section id="Right">
                <aside id="buttons">
                    <button>Save Changes</button>
                    <div id="Link">
                        <a href="{% url 'WebIStudy:Forums' user.user_name %}">Back</a>
                    </div>
                </aside>
            </section>
        </form>
    </main>
</body>
</html>