{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iStudy - HomePage</title>
		<link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    </head>

    <body>
        <main>
            <div class="Login">

            
                <div action="" class="Register_Form" id="Register_Form">
                    <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logo" class="Logo">
                    
                    
                    <p class="rubik">Registeration complete successfully &#128512;</p>
                    <div class="lonelydiv">
                        <a class="HomePageReturn" href="{% url 'WebIStudy:Login'%}">Return to Homepage</a>
                    </div>

                </div>
            </div>
            
            
            <div  class="Register"> 

                <div class="Log_content" id="Log_content">
                    
                    <h1 id="header">Have Account?</h1>
                    
                    <p class="Register_Lorem">Sign in and start connect with students around the country</p>
                    
                    <button id="sign_up" >Sign In</button>

                </div>
                
                <img src="{% static 'Pictures/books.JPG' %}" alt="books with people" class="books" id="books">
            </div>

        </main>

    </body>
</html>