body{
  min-height: 946px;
  max-width: 1920px;
  background-color: #f8f9fb;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
nav{
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e2e7ea;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1{
    position: absolute;
    color: #303344;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .01em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -40px;
}
section{
    height: 13%;
    width: 100%;
    background-color: f8f9fb;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo_image{
    position: absolute;
    object-fit: cover;
    max-height: 70px;
    max-width: 500px;
    margin-top: 4px;
    margin-left: -60px;
}

.user_botton{
    cursor: pointer;
    object-fit: cover;
    position: absolute;
    background-image: url("user.JPG") ;
    border-radius: 100%;
    border-style: none;
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-left: 1140px;
}

.forums_button{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    color: #182730;
    font-weight: 500;
    padding: 0 15px;
    border-style: none;
    letter-spacing: .01em;
    margin-top: 30px;
    margin-left: 300px;
    padding-bottom: 10px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.Users_button{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    color: #182730;
    font-weight: 500;
    padding: 0 15px;
    border-style: none;
    letter-spacing: .01em;
    margin-top: 30px;
    margin-left: 410px;
    padding-bottom: 10px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid rgb(184, 184, 252);
}
#Profile_Select{
    position: fixed;
    background-color: white;
    margin-left: 1200px;
    margin-top: 70px;
    width: 200px;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    flex-wrap: wrap;
}

.Profile_Option{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(146, 146, 247);
    cursor: pointer;
    background-color: white;
    border-bottom: 2px solid rgb(184, 184, 252);
}
.Profile_Option:first-child
{
    margin-top: 2px;
}
.Menu{
    position: fixed;
    height: 8%;
    width: 65%;
    background-color: white;
}
.Search{
    height: 50%;
    width: 65%;
    background-color: rgb(255, 255, 255);
    margin-top: 140px;
    border-bottom: 2px solid #e2e7ea;
}
.input{
    position: absolute;
    border: none;
    outline: 0;
    color: #182730;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 3px 15px 5px 47px;
    width: 250px;
    background-color: #e2e7ea;
    border-radius: 3px;
    height: 20px;
    margin-left: 800px;
    margin-top: -40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
  position: relative;
  width:100%;
  min-height: 700px;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table{

  margin-left:500px;
  margin-top:20px;
  border-style: solid;
  border-radius:5px;
  height: 500px;
  width:700px;
  overflow: visible;
}
th,td{
  border:1px solid black;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.actions{
  position: relative;
  left:500px;
  top:550px;
  height:50px;
  width:350px;
  font-size: 20px;
  cursor:pointer;
}

.invisible{
  visibility: hidden;
}

.options{
  margin-top: 40px;
}

.UserProf{
  margin-top: 30px;
  background-color: white; 
  width: 800px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
}

.userImage{
  object-fit: cover;
  border-radius: 100%;
  border-style: none;
  background-size: cover;
  height: 70px;
  width: 70px;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  height: 40px;
  border-left:2px solid rgb(184, 184, 252);
  padding-left: 10px;
  padding-top: 25px;
}

input[type='checkbox']{
  width: 60px;
  height: 20px;
  background-color: #e2e7ea;
}

select{
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.inpu{
  margin-left: 30px;
  width: 200px;
  height: 30px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(218, 218, 255);
  cursor: pointer;
}

.contact_Button{
  cursor:pointer;
}

