{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial_scale=1.0">
    <title>forum management</title> 
    <link rel="stylesheet" href="{% static 'CSS/forum-management.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="Menu">
        <img src="{% static 'Pictures/Istudy_Logo.JPG' %}" alt="logi" class="logo_image">
        <a href="forum-management.html"><button class="forums_button">Forums</button></a>
        
        <button class="user_botton" onclick="Menu()"></button>
      </div>
      <div id="Profile_Select" class="invisible">
        <a class="Profile_Option" href="updatePersonalInfo.html">Add Info details</a><br>
        <a class="Profile_Option" href="updateAccountInfo.html">Change Account</a><br>
        <a class="Profile_Option" href="">Logout</a>
      </div>
    </nav>
    <section>
      <div class="Search">
        <h1>Forum management page</h1>
        <input class="input" type="text" name="searchbar" id="searchbar" placeholder="&#128270; Search Forum"  />
      </div>
    </section>
    <main>
    <form action="{% url 'WebIStudy:DeleteForum' %}" method="post" style="margin: 0px; margin-left: 300px;" id="outform">
        {% csrf_token %}
        <div class="Display" style="align-content:flex-start; width: 80%;">
        
              {% for i in forum%}
                 <div class="Forum">
                     <img src="{{i.picture.url}}" alt="{{i.picture}}" class="forum_image">
                     
                     <a>{{i.Forum_name}}</a>
                     <input type="checkbox" class="checkbox" name="item" value="{{i.Forum_name}}" style="margin-left: 160px;margin-top: -40px;height: 20px;width: 20px; position: static;">
                     <p>
                         {{i.Description}}
                     </p>
                 </div>
              {% endfor %}
		 
        <div>
					<button id="delForum" style="background-color:bisque;width:300px;height:50px;font-size:20px;cursor:pointer;border-radius:20px;margin:250px;margin-top: 40px;">delete chosen forums</button>
          {{test}}
				</div>    
        </div>
    </form>
    </main>
     
    </body>
</html>
